<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ConexionBD" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Adamg\Desktop\3D Objects\C#\Desarrollo_Software_III\Laboratorio Semana 4 IDS345\Laboratorio Semana 4 IDS345\BDBonoDiaMadres.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>

