<log4net>
	<root>
		<level value="INFO" />
		<!-- Nivel de log para el root logger -->
		<appender-ref ref="ConsoleAppender" />
		<!-- Referencia al appender de consola -->
		<appender-ref ref="FileAppender" />
		<!-- Referencia al appender de archivo -->
	</root>

	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %message%newline" />
			<!-- Patrón de conversión para el formato del log -->
		</layout>
	</appender>

	<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="logs/logfile.log" />
		<!-- Ruta y nombre del archivo de log -->
		<appendToFile value="true" />
		<!-- Si se debe agregar al archivo existente o crear uno nuevo -->
		<rollingStyle value="Size" />
		<!-- Método de rotación del archivo (tamaño) -->
		<maxSizeRollBackups value="10" />
		<!-- Número máximo de archivos de respaldo -->
		<maximumFileSize value="10MB" />
		<!-- Tamaño máximo del archivo antes de la rotación -->
		<staticLogFileName value="true" />
		<!-- Utilizar siempre el mismo nombre de archivo -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%level] %message%newline" />
			<!-- Patrón de conversión para el formato del log -->
		</layout>
	</appender>
</log4net>
